.rfow-restaurant-details-container {
	padding: 0 40px;
}

.rfow-restaurant-details {
	display: flex;
    justify-content: space-between;
}

.rfow-restaurant-details-header {
	display: flex;
    justify-content: space-between;
}

.rfow-restaurant-details-header .rfow-restaurant-title-address h1 {
	font-size: 1.5rem;
}

.rfow-restaurant-details-header .rfow-restaurant-title-address p {
	font-size: 0.9rem;
	display: flex;
    align-items: center;
}

.rfow-restaurant-details-header .rfow-restaurant-title-address p i {
    margin-top: 3px;
}

.rfow-restaurant-details-header .rfow-restaurant-image img {
    height: 100px;
    width: 150px;
}

.rfow-details {
	display: flex;
    flex-direction: column;
}

.u-line {
	border-bottom: 1px solid rgba(67,41,163,.2);
	margin: 5px 0;
	padding: 10px 0;
}

.restaurant-tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.restaurant-menu-tab {
	display: flex;
	justify-content: flex-start;
	flex: 0 0 60%;
}

.restaurant-menu-tab a{
	margin-right: 50px;
}

.rfow-restaurant-description {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.rfow-restaurant-description .restaurant-tag {
	flex: 0 0 60%;
}
