.rfow-page-not-found-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: auto;
}

.rfow-page-not-found-container img {
	width: 650px;
	height: 550px;
}


.rfow-page-not-found-container h1 {
	font-size: 50px;
}
