.rfow-search-result-page {
	background-color: whitesmoke;
}

.rfow-search-result-wrapper {
	padding: 80px;
	width: 100%;
}

.rfow-search-result-nav {
	height: 50px;
	background: white;
	padding-left: 80px;
}

.rfow-search-result-nav span {
	color: #9c9c9c;
	font-size: 16px;
	font-family: poppins;
	display: flex;
    align-items: center;
}

.rfow-search-result-nav span i {
	padding: 10px;
}

.rfow-search-result-nav span i .MuiSvgIcon-root {
	font-size: 12px;
}

.rfow-search-result-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rfow-search-result-filter-nav {
	height: auto;
	width: 100%;
	background: white;
	padding: 0 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.rfow-search-result-filter-tab {
	border-right: 0.5px solid gray;
}

.rfow-search-result {
	width: 100%;
	background-color: white;
}
