.rbf-footer-bottom {
	display: flex;
    justify-content: space-between;
	flex-direction: column;
}

.rbf-footer-bottom .food-pics {
    display: flex;
    flex-wrap: wrap;
	margin-bottom: 20px;
}

.rbf-footer-bottom .food-pics .individual-food-pic {
	height: 150px;
    width: 225px;
}

.rbf-footer-bottom .food-pics .individual-food-pic:hover {
	transform: scale(1.2);
}

.rbf-footer-bottom .rbf-links {
	display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.rbf-footer-bottom ul {
	margin-top: -10px;
    margin-left: -40px;
}

.rbf-footer-bottom span, a {
	font-size: 14px;
}

.rbf-footer-bottom li {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.footer-download {
	position: relative;
}

.appimage {
	display: flex;
    flex-direction: column;
	padding-left: 15px;
    width: 60%;
	height: 0%;
}

.appimage img {
	margin-bottom: 10px;
}
