.rfow-toast {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
  max-height: 50%;
  width: 35%;
  height: auto;
  display: flex;
  z-index: 2;
  align-items: start;
  padding: 20px;
  border-radius: 10px;

  &__left {
    flex: 0 0 15%;
    top: 25px;
  }

  &__right {
    flex: 5%;
  }

  &__center {
    &-title {
      font-weight: bolder;
      font-size: 18px;
    }

    &-message {
      font-weight: bold;
      font-size: 13px;
      line-height: 1.5;
    }
  }

  &__close {
    position: absolute;
    top: -9px;
    right: 10px;
    font-size: 35px;
    font-weight: bolder;
    color: white;
  }
}
