.rfow-navbar {
	background: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    padding-right: 20px;
}

.rfow-navbar-left {
	display: flex;
	align-items: center;
	flex: 0 0 30%;
}


.rfow-navbar-center {
	display: flex;
	align-items: center;
	flex: 0 0 40%;
	justify-content: center;
}

.rfow-navbar-right {
	display: flex;
    justify-content: center;
	align-items: center;
	flex: 0 0 30%;
}

.rfow-navbar-right .rfow-navbar-account {
	display: flex;
}

.rfow-navbar-account a {
	margin-left: 20px;
    font-size: 17
}

.rfow-navbar-left .rfow-navbar-logo {
	color: #fff;
	display: flex;
	padding: 8px 16px;
	margin-right: 8px;
}

.rfow-navbar-left .rfow-navbar-logo img {
	height: auto;
	width: 180px;
}

.rfow-navbar-search i {
	position: absolute;
	padding: 6px 0 0 25px;
	font-weight: 400;
}

.rfow-navbar-search .rfow-search {
	height: 40px;
    font-size: 15px;
    width: 400px;
    margin-left: 20px;
	padding-left: 40px;
}
